<h2> Show page</h1>
<p><strong>title: <%= @article.title%></strong></p>
<p><strong>description: <%= @article.description%></strong></p>

<%= link_to 'Delete', article_path(@article), data: {turbo_method: :delete, turbo_confirm: "are you sure"} %>
<%= link_to 'Edit', edit_article_path(@article) %>
<%= link_to 'Return to home', articles_path %>

